<h2>Welcome!</h2>

@model OidTokens

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
