<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="nlog-internal.log" >

  <!--[Extension] -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--[變數] LOG樣式 -->
  <variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
  <variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>
  <variable name="LayoutEvent" value="${date}: ${message} ${stacktrace}"/>

  <!--[變數] LOG位置 -->
  <variable name="LogTxtLocation" value="${basedir}/App_Data/Logs/${shortdate}/${logger}.log"/>
  <variable name="LogTxtLocationFatal" value="${basedir}/App_Data/Logs/${shortdate}/FatalFile.log"/>
  <variable name="LogTxtLocationArchive" value="${basedir}/App_Data/Logs"/>
  <variable name="ProjectName" value="AspNetCore.IdentityServer4.Auth"/>


  <targets>
    <!--[設定] 目的地-->

    <!--文字檔-->
    <target name="File" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}" />
    <target name="FileFatal" xsi:type="File" fileName="${LogTxtLocationFatal}" layout="${LayoutFatal}"/>
    <target name="FileArchive" xsi:type="File" fileName="${LogTxtLocationArchive}/Application.log" layout="${Layout}" 
            archiveFileName="$${LogTxtLocationArchive}/Application.${shortdate}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"/>
    <!--事件-->
    <!--<target name="Event" xsi:type="EventLog" source="${ProjectName}" log="Application" layout="${LayoutEvent}" />-->
    <!--即時顯示-->
    <target name="Sentinel" xsi:type="NLogViewer" address="udp://127.0.0.1:3333"/>
    <!--資料庫-->
    <!--<target name="LogDatabase" xsi:type="Database" >
      <connectionString>
        Data Source=.;Initial Catalog=JB;Integrated Security=True;
      </connectionString>
      <commandText>
        INSERT INTO AspnetCoreLog (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@application" layout="${ProjectName}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>-->
    <!--
  CREATE TABLE [dbo].[AspnetCoreLog] (
      [Id] [int] IDENTITY(1,1) NOT NULL,
      [Application] [nvarchar](50) NOT NULL,
      [Logged] [datetime] NOT NULL,
      [Level] [nvarchar](50) NOT NULL,
      [Message] [nvarchar](max) NOT NULL,
      [Logger] [nvarchar](250) NULL,
      [Callsite] [nvarchar](max) NULL,
      [Exception] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
      WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
  ) ON [PRIMARY]
-->


  </targets>

  <rules>
    <!--[設定] 紀錄規則-->
    <!--
    Trace：用於追蹤，可以在程式裡需要追蹤的地方將訊息以Trace傳出。
    Debug：用於開發，於開發時將一些需要特別關注的訊息以Debug傳出。
    Info ：訊息，記錄不影響系統執行的訊息，通常會記錄登入登出或是資料的建立刪除、傳輸等。
    Warn ：警告，用於需要提示的訊息，例如庫存不足、貨物超賣、餘額即將不足等。
    Error：錯誤，記錄系統實行所發生的錯誤，例如資料庫錯誤、遠端連線錯誤、發生例外等。
    Fatal：致命，用來記錄會讓系統無法執行的錯誤，例如資料庫無法連線、重要資料損毀等。 -->
    <!--<logger name="*" levels="Trace, Debug, Info, Warn, Error, Fatal" writeTo="LogDatabase" />-->
    <logger name="Microsoft.*" maxLevel="Warn" final="true" /><!--Excludes logs from Microsoft.*-->
    <logger name="*" minlevels="Trace"                               writeTo="Sentinel"   />
    <logger name="*" levels="Trace, Debug, Info, Warn"               writeTo="File" />
    <logger name="*" levels="Error, Fatal"                           writeTo="FileFatal" />
    <!--<logger name="*" levels="Error, Fatal" writeTo="Event" />-->
  </rules>

</nlog>